
{

  "b.":           ["B",           "b",                        "", "ONSET",              "B- like baba"],
  "br.":          ["BR",          "(b.)(r.)",                 "", "ONSET",              "BR- like branş"],
  "c.":           ["KM",          "c",                        "", "ONSET",              "C- like cins"],
  "ç.":           ["BKM",         "ç",                        "", "ONSET",              "Ç- like çekiç"],
  "d.":           ["TB",          "d",                        "", "ONSET",              "D- like düz"],
  "dr.":          ["TBR",         "(d.)(r.)",                 "", "ONSET",              "DR- like drama"],
  "f.":           ["F",           "f",                        "", "ONSET",              "F- like fil"],
  "fl.":          ["TBLR",        "(f.)(l.)",                 "", "ONSET",              "FL- like flüt"],
  "fr.":          ["BLR",         "(f.)(r.)",                 "", "ONSET",              "FR- like frizya"],
  "g.":           ["KB",          "g",                        "", "ONSET",              "G- like güz"],
  "gl.":          ["TBK",         "(g.)(l.)",                 "", "ONSET",              "GL- like gladyatör"],
  "gr.":          ["BRKLM",       "(g.)(r.)",                 "", "ONSET",              "GR- like gram"],
  "h.":           ["LM",          "h",                        "", "ONSET",              "H- like his"],
  "hr.":          ["RLM",         "(h.)(r.)",                 "", "ONSET",              "HR- hristiyan"],
  "j.":           ["TBKM",        "j",                        "", "ONSET",              "J- like jeton"],
  "k.":           ["K",           "k",                        "", "ONSET",              "K- like konu"],
  "kl.":          ["KL",          "(k.)(l)",                  "", "ONSET",              "KL- like klan"],
  "kr.":          ["KR",          "(k.)(r.)",                 "", "ONSET",              "KR- like kramp"],
  "l.":           ["L",           "l",                        "", "ONSET",              "L- like lisan"],
  "m.":           ["M",           "m",                        "", "ONSET",              "M- like minare"],
  "n.":           ["TRK",         "n",                        "", "ONSET",              "N- like nisan"],
  "p.":           ["SB",          "p",                        "", "ONSET",              "P- like pirana"],
  "pl.":          ["STB",         "(p.)(l.)",                 "", "ONSET",              "PL- like plan"],
  "pr.":          ["SBR",         "(p.)(r.)",                 "", "ONSET",              "PR- like prenses"],
  "r.":           ["R",           "r",                        "", "ONSET",              "R- like reklam"],
  "s.":           ["S",           "s",                        "", "ONSET",              "S- like sürekli"],
  "sf.":          ["SF",          "(s.)(f.)",                 "", "ONSET",              "SF- like sfenks"],
  "sk.":          ["SK",          "(s.)(k.)",                 "", "ONSET",              "SK- like skandal"],
  "sl.":          ["SL",          "(s.)(l.)",                 "", "ONSET",              "SL- like slav"],
  "sm.":          ["SM",          "(s.)(m.)",                 "", "ONSET",              "SM- like smaç"],
  "sp.":          ["SP",          "(s.)(p.)",                 "", "ONSET",              "SP- like spiker"],
  "st.":          ["ST",          "(s.)(t.)",                 "", "ONSET",              "ST- like steno"],
  "ş.":           ["Ş",           "ş",                        "", "ONSET",              "Ş- like şaman"],
  "t.":           ["T",           "t",                        "", "ONSET",              "T- like t"],
  "tr.":          ["TR",          "(t.)(r.)",                 "", "ONSET",              "TR- like trajedi"],
  "v.":           ["STBLR",       "v",                        "", "ONSET",              "V- like vadi"],
  "y.":           ["RL",          "y",                        "", "ONSET",              "Y- like yeni"],
  "z.":           ["Z",           "z",                        "", "ONSET",              "Z- like zil"],

  ".b":     ["-PK",      "b",        "", "CODA", ""],
  ".bd":    ["-PKTM",    "bd",       "", "CODA", ""],
  ".bl":    ["-PTL",     "bl",       "", "CODA", ""],
  ".br":    ["-KMR",     "br",       "", "CODA", ""],
  ".bt":    ["-ŞPYSKM",  "bt",       "", "CODA", ""],
  ".c":     ["-MRN",     "c",        "", "CODA", ""],
  ".cd":    ["-TLÇMRN",  "cd",       "", "CODA", ""],
  ".ç":     ["-Ç",       "ç",        "", "CODA", ""],
  ".d":     ["-TLÇ",     "d",        "", "CODA", ""],
  ".dh":    ["-PTKML",   "dh",       "", "CODA", ""],
  ".dr":    ["-TMR",     "dr",       "", "CODA", ""],
  ".f":     ["-ŞP",      "f",        "", "CODA", ""],
  ".fl":    ["-ŞPL",     "fl",       "", "CODA", ""],
  ".fr":    ["-ŞPR",     "fr",       "", "CODA", ""],
  ".fs":    ["-ŞPK",     "fs",       "", "CODA", ""],
  ".ft":    ["-ŞPT",     "ft",       "", "CODA", ""],
  ".g":     ["-ŞSPK",    "g",        "", "CODA", ""],
  ".gl":    ["-ŞSPKL",   "gl",       "", "CODA", ""],
  ".gr":    ["-ŞSPKR",   "gr",       "", "CODA", ""],
  ".h":     ["-SKM",     "h",        "", "CODA", ""],
  ".hd":    ["-PTKML",   "hd",       "", "CODA", ""],
  ".hr":    ["-SKMR",    "hr",       "", "CODA", ""],
  ".ht":    ["-ŞPSKT",   "ht",       "", "CODA", ""],
  ".j":     ["-PKT",     "j",        "", "CODA", ""],
  ".k":     ["-K",       "k",        "", "CODA", ""],
  ".kl":    ["-KL",      "kl",       "", "CODA", ""],
  ".kr":    ["-KR",      "kr",       "", "CODA", ""],
  ".ks":    ["-KS",      "ks",       "", "CODA", ""],
  ".kt":    ["-KT",      "kt",       "", "CODA", ""],
  ".l":     ["-L",       "l",        "", "CODA", ""],
  ".lç":    ["-LÇ",      "lç",       "", "CODA", ""],
  ".lf":    ["-ŞPL",     "lf",       "", "CODA", ""],
  ".lg":    ["-ŞSPKL",   "lg",       "", "CODA", ""],
  ".lh":    ["-ŞSL",     "lh",       "", "CODA", ""],
  ".lk":    ["-KL",      "lk",       "", "CODA", ""],
  ".lm":    ["-KR",      "lm",       "", "CODA", ""],
  ".lp":    ["-PL",      "lp",       "", "CODA", ""],
  ".ls":    ["-SL",      "ls",       "", "CODA", ""],
  ".lt":    ["-TL",      "lt",       "", "CODA", ""],
  ".m":     ["-M",       "m",        "", "CODA", ""],
  ".mb":    ["-PKM",     "mb",       "", "CODA", ""],
  ".mp":    ["-PM",      "mp",       "", "CODA", ""],
  ".mt":    ["-TM",      "mt",       "", "CODA", ""],
  ".n":     ["-N",       "n",        "", "CODA", ""],
  ".nç":    ["-ÇN",      "nç",       "", "CODA", ""],
  ".nf":    ["-ŞPN",     "nf",       "", "CODA", ""],
  ".ng":    ["-ŞPSKN",   "ng",       "", "CODA", ""],
  ".nk":    ["-KN",      "nk",       "", "CODA", ""],
  ".ns":    ["-SN",      "ns",       "", "CODA", ""],
  ".nt":    ["-TN",      "nt",       "", "CODA", ""],
  ".nz":    ["-ŞSN",     "nz",       "", "CODA", ""],
  ".p":     ["-P",       "p",        "", "CODA", ""],
  ".r":     ["-R",       "r",        "", "CODA", ""],
  ".rç":    ["-RÇ",      "rç",       "", "CODA", ""],
  ".rd":    ["-TMR",     "rd",       "", "CODA", ""],
  ".rf":    ["-ŞPR",     "rf",       "", "CODA", ""],
  ".rg":    ["-ŞSPKR",   "rg",       "", "CODA", ""],
  ".rh":    ["-SKMR",    "rh",       "", "CODA", ""],
  ".rj":    ["-PTKMR",   "rj",       "", "CODA", ""],
  ".rk":    ["-KR",      "rk",       "", "CODA", ""],
  ".rm":    ["-MR",      "rm",       "", "CODA", ""],
  ".rn":    ["-RN",      "rn",       "", "CODA", ""],
  ".rp":    ["-PR",      "rp",       "", "CODA", ""],
  ".rs":    ["-SR",      "rs",       "", "CODA", ""],
  ".rş":    ["-ŞR",      "rş",       "", "CODA", ""],
  ".rt":    ["-TR",      "rt",       "", "CODA", ""],
  ".s":     ["-S",       "s",        "", "CODA", ""],
  ".sk":    ["-SK",      "sk",       "", "CODA", ""],
  ".sp":    ["-SP",      "sp",       "", "CODA", ""],
  ".st":    ["-ST",      "st",       "", "CODA", ""],
  ".ş":     ["-Ş",       "ş",        "", "CODA", ""],
  ".şk":    ["-ŞK",      "şk",       "", "CODA", ""],
  ".şt":    ["-ŞT",      "şt",       "", "CODA", ""],
  ".t":     ["-T",       "t",        "", "CODA", ""],
  ".tf":    ["-ŞPT",     "tf",       "", "CODA", ""],
  ".tm":    ["-TM",      "tm",       "", "CODA", ""],
  ".v":     ["-RLÇN",    "v",        "", "CODA", ""],
  ".vk":    ["-KRLÇN",   "vk",       "", "CODA", ""],
  ".vr":    ["-MRLÇN",   "vr",       "", "CODA", ""],
  ".vt":    ["-TRLÇN",   "vt",       "", "CODA", ""],
  ".y":     ["-TMLR",    "y",        "", "CODA", ""],
  ".yh":    ["-KTMLR",   "yh",       "", "CODA", ""],
  ".yl":    ["-TMLRÇ",   "yl",       "", "CODA", ""],
  ".yn":    ["-TMLRN",   "yn",       "", "CODA", ""],
  ".yp":    ["-PTMLR",   "yp",       "", "CODA", ""],
  ".yr":    ["-ŞTMLR",   "yr",       "", "CODA", ""],
  ".ys":    ["-STMLR",   "ys",       "", "CODA", ""],
  ".yt":    ["-PKTMLR",  "yt",       "", "CODA", ""],
  ".z":     ["-ŞS",      "z",        "", "CODA", ""],
  ".zm":    ["-ŞSM",     "zm",       "", "CODA", ""],
  
  "a":    ["A",    "a",         "",     "NUCLEUS", ""],
  "e":    ["E",    "e",         "",     "NUCLEUS", ""],
  "ı":    ["I",    "ı",         "",     "NUCLEUS", ""],
  "i":    ["İ",    "i",         "",     "NUCLEUS", ""],
  "o":    ["Aİ",   "o",         "",     "NUCLEUS", ""],
  "ö":    ["AE",   "ö",         "",     "NUCLEUS", ""],
  "u":    ["EI",   "u",         "",     "NUCLEUS", ""],
  "ü":    ["İI",   "ü",         "",     "NUCLEUS", ""],
  "ağa":  ["A*",    "ağa",      "",     "NUCLEUS", ""],
  "eğe":  ["E*",    "eğe",      "",     "NUCLEUS", ""],
  "ığı":  ["I*",    "ığı",      "",     "NUCLEUS", ""],
  "iği":  ["İ*",    "iği",      "",     "NUCLEUS", ""],
  "oğo":  ["Aİ*",   "oğo",      "",     "NUCLEUS", ""],
  "öğö":  ["AE*",   "öpö",      "",     "NUCLEUS", ""],
  "uğu":  ["EI*",   "uğu",      "",     "NUCLEUS", ""],
  "üğü":  ["İI*",   "üğü",      "",     "NUCLEUS", ""],
  "ağı":  ["AI",    "ağı",      "",     "NUCLEUS", ""],
  "eği":  ["Eİ",    "eği",      "",     "NUCLEUS", ""],
  "oğu":  ["AİE",   "oğu",      "",     "NUCLEUS", ""],
  "öğü":  ["AİI",   "çğü",      "",     "NUCLEUS", ""],
}